<p>
	<%= link_to "Home", home_path %> &nbsp;&nbsp; | &nbsp;&nbsp;
	<%= link_to "About Us", about_path %> &nbsp;&nbsp;| &nbsp;&nbsp;
	<%= link_to "Contact Us", contact_path %> &nbsp;&nbsp; | &nbsp;&nbsp;
	<%= link_to "Privacy Policy", privacy_path %> &nbsp;&nbsp; | &nbsp;&nbsp;
	<a href="#">Back To Top</a>
</p>

<div id="footer">
	<br />Webmaster: <script type="text/javascript">
	<!--
		// protected email script by Joe Maller. JavaScripts available at http://www.joemaller.com
		// this script is free to use and distribute but please credit me and/or link to my site
		emailE=('ajmark' + '@andrew.cmu.edu')
		document.write('<a href="mailto:' + emailE + '">' + 'Alexander Mark' + '</a>')
	//-->
	</script>&nbsp;&nbsp;Copyright 2013 <a href="#">AJM</a>
	<br /><br />
</div>