<h1>About Us</h1>
<br>
<h4> 
	<%= link_to "About Us", about_path %> &nbsp;&nbsp;| &nbsp;&nbsp;
	<%= link_to "Contact Us", contact_path %> &nbsp;&nbsp; | &nbsp;&nbsp;
	<%= link_to "Privacy Policy", privacy_path %>
</h4>
<br>
<p> <%= image_tag 'club.jpg', :class => "right" %> We know how important your children are to you. We know 
	how much you love them and how they are a part of 
	your family.  And although we live in the 'Steel City' 
	and the people here are tough, we also know your children 
	aren't always as rugged. That's why the masters   
	at Pittsburgh's A&M Karate School is committed 
	to giving you and your children only the best training at 
	the most affordable prices.  Come visit our dojo 
	at 5000 Forbes Avenue (Porter 224A) and see how we
	can help your children toughen up.</p>

